/* ==========================================================================


   Buttons


   ========================================================================== */
.button {
	border: 0;
	display: inline-block;
	padding: 1em 2em;
	border-radius: 0.25em;
	box-shadow: inset 0 0.15em 0 rgba(255, 255, 255, 0.15), inset 0 -0.3em 0 rgba(0, 0, 0, 0.2);
	margin-right: 1em;
	margin-bottom: 1em;
	transition: all 100ms ease-out 0ms; }
.button:hover {
	box-shadow: inset 0 0.15em 0 rgba(255, 255, 255, 0.15), inset 0 -0.2em 0 rgba(0, 0, 0, 0.2);
	transform: translateY(0.1em); }

.button--primary.button--primary {
	background-image: none;
	background-color: #00834d;
	color: #e7ecef; }
.button--primary.button--primary:hover {
	background-image: none; }

.button--secondary {
	background-color: #c9b79c;
	color: #272932; }

.button--tertiary {
	background-color: #AD29B6;
	color: #e7ecef; }

.button--facebook {
	background-color: #3b5998;
	color: #e7ecef; }

.button--twitter {
	background-color: #1da1f2;
	color: #272932; }