/* ==========================================================================


Font-face


========================================================================== */
@font-face {
    font-family: 'Cooper Hewitt';
    src: url("../fonts/cooperhewitt-heavy-subset.woff") format("woff");
    font-style: normal;
    font-weight: 800;
    font-display: swap; }

@font-face {
    font-family: 'Lora';
    src: url("../fonts/lora-regular.woff") format("woff");
    font-style: normal;
    font-weight: 400;
    font-display: swap; }