/* ==========================================================================


   Headings


   ========================================================================== */
h1, h2, h3, .heading {
	display: inline-block;
	font-family: "Cooper Hewitt", "Arial Black", arial, sans-serif;
	font-weight: 800;
	letter-spacing: .015em; }

.size--xxxl {
	position: relative;
	font-size: 2.4em;
	line-height: 1; }
.size--xxxl:after {
	content: " ";
	display: block;
	background-color: #c9b79c;
	width: 110%;
	height: 110%;
	position: absolute;
	bottom: 7.5%;
	left: -5%;
	transform: rotate(-2.5deg);
	z-index: -1; }
@media screen and (min-width: 32.05em) {
	.size--xxxl {
		font-size: 3em;
		line-height: 1; } }

h1, .size--xxl {
	font-size: 1.5em;
	line-height: 1.06667; }
@media screen and (min-width: 32.05em) {
	h1, .size--xxl {
		font-size: 2.4em;
		line-height: 1; } }

h2, .size--xl {
	font-size: 1.2em;
	line-height: 1.25; }
@media screen and (min-width: 32.05em) {
	h2, .size--xl {
		font-size: 1.5em;
		line-height: 1.06667; } }

h3, .size--l, .lead {
	font-size: 1em;
	line-height: 1.2; }
@media screen and (min-width: 32.05em) {
	h3, .size--l, .lead {
		font-size: 1.2em;
		line-height: 1.25; } }

.titleline {
	display: inline-block;
	background-color: #272932;
	padding: 0.25em 0.25em 0 0.25em;
	color: #e7ecef; }

.subline {
	margin-top: 0;
	display: inline-block;
	background-color: #272932;
	padding: 0.25em 0.25em 0 0.25em;
	color: #e7ecef;
	font-size: 1rem;
	line-height: 1.2; }
@media screen and (min-width: 32.05em) {
	.subline {
		font-size: 1.2rem;
		line-height: 1.25; } }