/* ==========================================================================


   Layout


   ========================================================================== */
* {
	margin: 0;
	padding: 0; }

* + * {
	margin-top: 1.5em; }

html {
	font-size: 125%; }

html,
body {
	width: 100%;
	height: 100%; }

body {
	font-weight: 400;
	font-family: "Lora", Georgia, serif;
	font-size: 0.9em;
	line-height: 1.4;
	background: #e7ecef;
	color: #272932;
	overflow-x: hidden; }
@media screen and (min-width: 32.05em) {
	body {
		font-size: 1em;
		line-height: 1.6; } }

.viewport {
	margin-top: 0;
	width: 100%;
	min-height: 90vh;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	overflow: hidden;
}
.viewport:after, .viewport:before {
	pointer-events: none;
	content: " ";
	display: block;
	width: 110%;
	height: 100%;
	border: 1.6em double rgba(0, 0, 0, 0.03);
	border-width: 0 1.6em 1.6em 0;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, 50%) rotate(45deg); }
.viewport:before {
	border-style: solid;
	border-color: #c9b79c;
	border-width: 0 0.8em 0.8em 0;
	width: 1.6em;
	height: 1.6em;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, 25%) rotate(45deg);
	animation: attention 1s infinite;
	z-index: 20; }

.island {
	background: #00834d;
	color: #e7ecef; }

.container {
	position: relative;
	width: 100%;
	padding: 1.6em 0.53333em; }
@media screen and (min-width: 16.05em) {
	.container {
		padding: 1.6em 0.8em; } }
@media screen and (min-width: 32.05em) {
	.container {
		padding: 1.6em; } }
@media screen and (min-width: 51.25em) {
	.container {
		padding: 3.2em; } }

.row {
	width: 100%;
	max-width: 29.7em;
	max-width: 40em; }
@media screen and (min-width: 51.25em) {
	.row {
		margin: 1.6em auto 1.6em 10%;
		margin: 1.6em auto 1.6em auto; } }

.group {
	display: flex;
	flex-flow: row nowrap; }
.group .group__item {
	flex: 1 0 0%; }
.group .group__item + .group__item {
	margin-top: 0;
	margin-left: 1.5em; }