/* ==========================================================================


   Links


   ========================================================================== */
a {
	text-decoration: none;
	color: #272932;
	background-image: linear-gradient(#c9b79c 100%, #c9b79c 100%);
	background-size: 0.4em 0.4em;
	background-position: 0 100%;
	background-repeat: repeat-x;
	transition: all 150ms ease-in 0ms; }
a:hover, a:focus, a:active {
	background-size: 0.5em 0.5em; }

.clear-before:before {

	content: " ";
	display: table;
	clear: both;

}